{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dan's website :)</title>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_alegeri.css' %}">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3-legend.susielu.com/d3-legend.min.js"></script>

</head>

<body>
    <div class="navbar">
        <button class="toggle-button">☰</button>
        <div class="navbar-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'cv' %}">Resume</a>
        </div>
    </div>
    <select id="countyDropdown"></select>
    <div class="mainbody">
    
    
    <div id="chart"></div>
    <div id="map"></div>
    </div>
    <div class="project-text">
        <h2>What inspired me to do this project</h2> 
        <p><a href="https://ro.wikipedia.org/wiki/Alegeri_preziden%C8%9Biale_%C3%AEn_Rom%C3%A2nia,_2019" target="_blank">This</a> is the source of it all: a Wikipedia article I stumbled upon while researching previous Romanian elections. The map, in particular, piqued my interest. I knew for certain that this couldn't be achieved easily. Thus began a journey that required me to learn almost every flavor of programming.</p>
        <img src="{% static 'data/wiki.png' %}">
        <p>After I've set my goal, the next step was attempting to find:</p>
        <ul>
            <li>Data with the election results</li>
            <li>Data with the boundaries of the counties and UATs as polygons</li>
            <li>Any similar projects I can learn from</li>
            <li>Documentation on how to create the maps</li>
        </ul>
        <h2>The resource that helped me the most</h2> 
        <p> Raluca Nicola's <a href="https://raluca-nicola.net/colors-of-romania" target="_blank">project</a> on the results of the 2019 European Parliament Election results in Romania helped me tremendously. It showed me most of the steps required, taught me how to use the data and clarified what needed to be done and in what order. I owe a great deal of thanks to Raluca for publishing her project. </p>
        <img src="{% static 'data/RalucaNicola.png' %}">
        <h2>The code, the data and the process</h2>
        <p>Everything is posted on github <a href="https://github.com/moonspaish/presidential-election-plotting" target="_blank">here</a>. The entire project can be found on github and relies solely on Python and various libraries for handling and visualizing data. I believe it is a useful resource for anyone exploring similar topics, especially since my approach avoided GIS software, making it more accessible for anyone interested.</p>
        {% comment %} <p>{% lorem 5 b random %}</p> {% endcomment %}
    </div>
</body>
<script src="{% static 'proiect_alegeri.js' %}"></script>

</html>